<!DOCTYPE html>
<html lang="en">
    <title id="uu">
       
     Ethan Levy
     
    </title>

    <head>  <center> &Epsilon; &Tau; &Lambda; </center> 

            <div id="picture" >
                <img src="static/Profile-Picture.jpeg"  height=500><br>
                Picture of ...
                
            </div>
    <link rel="stylesheet" href="static/levypedia.css" >
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/playlist.js"></script>
    <script src="static/playlist_store.js"></script>    
     <meta charset = "utf-8">

    </head>

    <body>
        <style type="text/css">
            @import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Playfair+Display&display=swap');
            a:link {color: rgb(255, 0, 0);}  
            a:visited {color:rgb(233, 128, 128)}  
            a:hover {color: #56cf9d}  
            a:active {color: #56cf9d}  
            
        </style>  

        <h5>
            <div class="menu" class="visited" class = "hvr-shutter-out-vertical">
                <a class="active" href="/home">Home</a>
                <a href="">Contact</a>
                <a href="https://linktr.ee/elevy127">Linktree</a>
                <a href="">My Projects</a>
                <a href="">Backpacking Photos</a>
                <a href="https://open.spotify.com/user/31hwz3cts3bb75z6exor3bglmcbi">Spotify</a>
                <a href="https://letterboxd.com/puckerupjules/">Letterboxd</a>
                <a href="">Resume</a>
      
            </div>

        </h5>


        <h1>  Ethan Levy 
            
        <h2> 
        
                
         Hello! I'm Ethan. I am a physics undergraduate at the University of Maryland College Park. I love math, physics, logic and math riddles, and philosophy. <a href="file:///Users/ethanlevy/Desktop/Website/riddles_list.html">Here</a> is a list of riddles that I have attempted.
         <br></br>In my free time, I go backpacking and camping. Notable places include Thunder Bay, Appalachia, Cimarron, Baxter SP, and Hawaii Volcano National Park on the Big Island.
         <br></br>I also travel to organic, sustainable, regenerative farms to learn about healthy agriculture techniques and practices that will one day be used to adapt farming to global warming and overpopulation. <a href="https://wwoof.net">WWOOF</a> has swept me away to Mayaguez, PR and Westport, CA. 

         <br></br>
         This personal project allowed me to dive into the 7th layer of hell: html. I am also proficient in Python and in the markdown language Latex. I am currently learning Ruby and Javascript. <br>
        

        </h2>
            <p> 
                <!-- <a href="" class = "hvr-shutter-out-vertical">Add to Basket</a> -->
            </p>
        
        
   </body>
    
    
    <div id="footer">
        What have you been listening to? Let me know below! &darr; 
        <form> 
            <input type="text" id="songTextInput" size="auto" placeholder="Song name">
            <input type="button" id="addButton" value ="Add Song" onclick="writeToServer($('#songTextInput').value)">    
        </form>
        <ul id="playlist"></ul>
    </div>

    
    <h5>
        'Tis but a Scratch! <br> Last edited: 8 January 2022
    </h5>

</html>

